---
title: "CLAIRE Taskforce on COVID19"
layout: splash
header:
  overlay_image: /assets/images/fusion-medical-animation-EAgGqOiDDMg-unsplash_flipped.jpg
  overlay_filter: 0.2 # same as adding an opacity of 0.5 to a black background
  caption: "Photo by Fusion Medical Animation on Unsplash"
author_profile: false
feature_row:
  - image_path: /assets/images/marvin-meyer-SYTO3xs06fU-unsplash.jpg
    image_caption: "Photo by Marvin Meyer on Unsplash"
    alt: "Join as CLAIRE volunteer"
    excerpt: "# Sign up as volunteer in CLAIRE efforts against COVID19"
    url: "https://docs.google.com/forms/d/e/1FAIpQLSdIyubw0t51yudcp4sVcENVhzvSIRcqPFfNVk-UnSbQyAQ1pw/viewform"
    btn_label: "Click to access form"
    btn_class: "btn--primary"
  - image_path: /assets/images/tedward-quinn-oqgXErMqKnc-unsplash.jpg
    image_caption: "Photo by Tedward Quinn on Unsplash"
    alt: "Submit initiatives using AI to tackle COVID19"
    excerpt: "# Submit initiatives using AI to tackle COVID19"
    url: "https://docs.google.com/forms/d/e/1FAIpQLScOvHHnwTfmzQ4yIztzWUhHBdY_zhkhQbIT-gwLXEke1U1xLg/viewform"
    btn_label: "Click to access form"
    btn_class: "btn--primary"
  - image_path: /assets/images/startae-team-7tXA8xwe4W4-unsplash.jpg
    image_caption: "Photo by Startae Team on Unsplash"
    alt: "Contact the CLAIRE COVID19 Taskforce"
    excerpt: "# Contact the CLAIRE COVID19 Taskforce"
    url: "mailto:covid19@claire-ai.org"
    btn_label: "Contact us"
    btn_class: "btn--primary"

---
<!--
	  - image_path: /assets/images/markus-spiske-3_SvgDspSTE-unsplash.jpg
    image_caption: "Photo by Markus Spiske on Unsplash"
    alt: "Johns Hopkins - COVID19 Global dashboard"
    excerpt: ""
    url: "https://coronavirus.jhu.edu/map.html"
    btn_label: "Johns Hopkins - COVID19 Global dashboard"
    btn_class: "btn--primary"
-->

<!--<H1>AI researchers support efforts to combat COVID19</H1>-->

<!--<p align="center"><iframe title="Covid-19 Initiatives" aria-label="World Symbol map" src="//datawrapper.dwcdn.net/MGVbG/4/" scrolling="no" frameborder="0" style="border: none;" width="60%" height="400"></iframe></p>-->

{% include feature_row %}

<p align="center">The <a href="http://claire-ai.org">CLAIRE network</a> has set up this website to compile existing initiatives by which AI and emerging technologies are contributing to combat COVID19.<br>  Below you can see a list of current funding opportunities. <a href="/initiatives/">Click here for more resources including datasets,  hackathons, guidelines or development tools</a> </p>

<!--<p>Artificial Intelligence (AI) technologies have successfully been applied in China, Taiwan, Singapore and South Korea in their efforts against COVID19. To help replicate this success in Europe and elsewhere <a href="http://claire-ai.org">CLAIRE</a> offers governments and health system the free support of its network of AI experts to help countering the pandemic crisis faced by all our societies. Here you can find our  <a href="https://claire-ai.org/covid19-charter/">task force charter</a> and <a href="https://claire-ai.org/wp-content/uploads/2020/03/CLAIRE-press-release-13.pdf">press release</a>.</p>-->

<!--We invite new partners to volunteer for this effort, based on the terms of reference below, and public authorities to consider what issues they face we might be able to help them address. -->

<!--<p align="center">You can <a href="/initiatives/">click here</a> to see a list of existing initiatives (projects,  funding calls, hackathons, open datasets or tools, etc) by which AI and emerging technologies are contributing to combat COVID19.</p>-->


<p align="center">For more information, see the <a href="https://claire.zulipchat.com/#narrow/stream/226112-covid-19">CLAIRE Zulip stream</a> on COVID19 (for CLAIRE supporters only, <a href="https://claire-ai.org/#share-and-sign">you can sign up here</a>) or contact <a href="mailto:covid19@claire-ai.org">covid19@claire-ai.org</a>.</p>

<hr>

<hr>
<p align="center"><iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTypcseeTvhDyzo-kFJGnnlGOBS7GGlljRH3b5nn01F3asrJJNclHIN1xZP6-LE2SIRWG-4Afz-sx6l/pubhtml?widget=true&amp;headers=false" width="80%" height="1000"></iframe></p>

<!--<p align="center">Open in <a href="https://docs.google.com/spreadsheets/d/1ycMBDQWw0HRt5S0pK-G2fQZAy7u1MyjcYTrYIHrbJ3A/edit?usp=sharing">Google docs (read only)</a></p>-->


<hr>

<!--<p align="center"><b>Click in the buttons below to join us in this effort as a volunter, or as an institution interested in our help.</b></p> -->

<!--{% include feature_row %}-->
